In [1]:
import pandas as pd

In [2]:
from datetime import datetime as dt

In [3]:
act_df = pd.read_csv("3_apst_03_2021.csv",names=["Timestamp","Configured","Up","Reserved","Used","A","B","C","D","E"])

In [4]:
act_df["Timestamp"] = pd.to_datetime(act_df["Timestamp"])
lower_limit_dt = dt(2021,3,8,21)
upper_limit_dt = dt(2021,3,22,21)

In [6]:
sliced_act_df = act_df.loc[(act_df["Timestamp"]>=lower_limit_dt) & (act_df["Timestamp"]<=upper_limit_dt)]

In [7]:
sliced_act_df

                Timestamp  Configured    Up  Reserved  Used   A   B  C   D   E
3631  2021-03-08 21:00:00        1425  1424      1364  1364  60   1  0  41  24
3632  2021-03-08 21:03:00        1425  1424      1364  1364  60   1  0  41  24
3633  2021-03-08 21:06:00        1425  1424      1364  1364  60   1  0  41  24
3634  2021-03-08 21:09:00        1425  1424      1364  1364  60   1  0  41  24
3635  2021-03-08 21:12:00        1425  1424      1364  1364  60   1  0  41  24
...                   ...         ...   ...       ...   ...  ..  .. ..  ..  ..
10347 2021-03-22 20:48:00        1425  1363      1297  1296  66  62  0  40  24
10348 2021-03-22 20:51:00        1425  1363      1297  1296  66  62  0  40  24
10349 2021-03-22 20:54:00        1425  1363      1297  1296  66  62  0  40  24
10350 2021-03-22 20:57:00        1425  1363      1297  1296  66  62  0  40  24
10351 2021-03-22 21:00:00        1425  1363      1297  1296  66  62  0  40  24

[6721 rows x 10 columns]

In [8]:
sliced_act_df["Date"] = sliced_act_df["Timestamp"].dt.strftime("%Y/%m/%d")

C:\Users\Rajat\AppData\Local\Temp/ipykernel_7412/1458872141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sliced_act_df["Date"] = sliced_act_df["Timestamp"].dt.strftime("%Y/%m/%d")

In [9]:
sliced_act_df

,Timestamp,Configured,Up,Reserved,Used,A,B,C,D,E,Date
3631,2021-03-08 21:00:00,1425,1424,1364,1364,60,1,0,41,24,2021/03/08
3632,2021-03-08 21:03:00,1425,1424,1364,1364,60,1,0,41,24,2021/03/08
3633,2021-03-08 21:06:00,1425,1424,1364,1364,60,1,0,41,24,2021/03/08
3634,2021-03-08 21:09:00,1425,1424,1364,1364,60,1,0,41,24,2021/03/08
3635,2021-03-08 21:12:00,1425,1424,1364,1364,60,1,0,41,24,2021/03/08
...,...,...,...,...,...,...,...,...,...,...,...
10347,2021-03-22 20:48:00,1425,1363,1297,1296,66,62,0,40,24,2021/03/22
10348,2021-03-22 20:51:00,1425,1363,1297,1296,66,62,0,40,24,2021/03/22
10349,2021-03-22 20:54:00,1425,1363,1297,1296,66,62,0,40,24,2021/03/22
10350,2021-03-22 20:57:00,1425,1363,1297,1296,66,62,0,40,24,2021/03/22
10351,2021-03-22 21:00:00,1425,1363,1297,1296,66,62,0,40,24,2021/03/22

In [10]:
sliced_act_df["Hours"] = sliced_act_df["Timestamp"].dt.strftime("%H")

C:\Users\Rajat\AppData\Local\Temp/ipykernel_7412/3856238062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sliced_act_df["Hours"] = sliced_act_df["Timestamp"].dt.strftime("%H")

In [11]:
sliced_act_df

,Timestamp,Configured,Up,Reserved,Used,A,B,C,D,E,Date,Hours
3631,2021-03-08 21:00:00,1425,1424,1364,1364,60,1,0,41,24,2021/03/08,21
3632,2021-03-08 21:03:00,1425,1424,1364,1364,60,1,0,41,24,2021/03/08,21
3633,2021-03-08 21:06:00,1425,1424,1364,1364,60,1,0,41,24,2021/03/08,21
3634,2021-03-08 21:09:00,1425,1424,1364,1364,60,1,0,41,24,2021/03/08,21
3635,2021-03-08 21:12:00,1425,1424,1364,1364,60,1,0,41,24,2021/03/08,21
...,...,...,...,...,...,...,...,...,...,...,...,...
10347,2021-03-22 20:48:00,1425,1363,1297,1296,66,62,0,40,24,2021/03/22,20
10348,2021-03-22 20:51:00,1425,1363,1297,1296,66,62,0,40,24,2021/03/22,20
10349,2021-03-22 20:54:00,1425,1363,1297,1296,66,62,0,40,24,2021/03/22,20
10350,2021-03-22 20:57:00,1425,1363,1297,1296,66,62,0,40,24,2021/03/22,20
10351,2021-03-22 21:00:00,1425,1363,1297,1296,66,62,0,40,24,2021/03/22,21

In [14]:
act_util_df=sliced_act_df[["Date","Hours","Up","Reserved"]].groupby(["Date","Hours"]).mean()

In [15]:
act_util_df["SystemUtilization"] = round(act_util_df["Reserved"]/act_util_df["Up"]*100,2)

In [17]:
act_util_df.to_csv("5_ActualSystemUtilization.csv")